<form action="/cita/new" method="post">
    <div>
        <label for="">
            Date:
            <input type="datetime-local" name="date">
        </label>
    </div>

    <div>
        <label for="">
            Description:
            <input type="text" name="description">
        </label>
    </div>

    <button type="submit">Submit New</button>
</form>

<h3>Edit Appointments: </h3>

{{#each appointments as |appointment|}}
  <form action="/cita/edit/{{appointment._id}}" method="post">
    <div>
        <label for="">
            Date:
            <input type="datetime-local" name="date" value="{{appointment.date}}">
        </label>
    </div>

    <div>
        <label for="">
            Description:
            <input type="text" name="description" value="{{appointment.description}}">
        </label>
    </div>

    <button type="submit">Edit</button>
</form>
{{/each}}