<div class="container-fluid background-calendar">
    <div class="row">
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12   ">
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12   ">
            <form action="/cita/new" method="post" class="p-2 boxShadow">
                <div>
                    <label for="">
                        Fecha:
                        <input type="datetime-local" name="date">
                    </label>
                </div>

                <div>
                    <label for="">
                        Descripción de la cita:
                        <input type="text" name="description">
                    </label>
                </div>

                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-calendar-check"></i>
                    Guardar</button>
            </form>

        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12   ">
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">

            <h3>Editar Cita: </h3>

            {{#each appointments as |appointment|}}
                <form action="/cita/edit/{{appointment._id}}" method="post" class="p-2 boxShadow">
                    <div>
                        <label for="">
                            Date:
                            <input type="datetime-local" name="date" value="{{appointment.date}}">
                        </label>
                    </div>

                    <div>
                        <label for="">
                            Description:
                            <input type="text" name="description" value="{{appointment.description}}">
                        </label>
                    </div>

                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-pencil-alt"></i>    Editar
                    </button>
                    <hr>
                </form>
            {{/each}}

        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12   ">
        </div>
    </div>
</div>

<script>
    var session=true;
</script>