<h3>Hola, {{user.name}} {{user.surname}}</h3>
<h4>Tu cuenta esta activa</h4>
<img class="d-block w-100 h-" src="https://res.cloudinary.com/consultame/image/upload/v1541642451/img/carousel/agendar.jpg"
  alt="First slide">