<form action="/perfil/edit" method="post">
    <div class="container-fluid">
        <div class="row">

            <label for="">
                Email:
                <input type="email" name="email" value="{{user.email}}">
            </label>

            <label for="">
                name:
                <input type="text" name="name" value="{{user.name}}">
            </label>

            <label for="">
                surname:
                <input type="text" name="surname" value="{{user.surname}}">
            </label>

            <label for="">
                birthday:
                <input type="date" name="birthday" value="{{birthday}}">
            </label>

            <label for="">
                telephone:
                <input type="number" name="telephone" value="{{user.telephone}}">
            </label>

            <label for="">
                street:
                <input type="text" name="street" value="{{user.address.street}}">
            </label>

            <label for="">
                district:
                <input type="text" name="district" value="{{user.address.district}}">
            </label>

            <label for="">
                city:
                <input type="text" name="city" value="{{user.address.city}}">
            </label>

            <label for="">
                state:
                <input type="text" name="state" value="{{user.address.state}}">
            </label>

            <label for="">
                zip_code:
                <input type="number" name="zip_code" value="{{user.address.zip_code}}">
            </label>
        </div>
    </div>

    <button  class="btn btn-success" type="submit">actualizar </button>
</form>

<script>
    console.log('entro a perfil');
    console.log({{user}});
</script>
