<div class="container-fluid bg-verde ">
    <div class="row imgerror p-5">
        <div class="col-xl-12 col-lg-12 col-md-4 col-sm-12 col-12   ">
            <h1 class="tit-pag-error"> Error 404</h1>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-4 col-sm-12 col-12   ">
            <h2 class="text-pag-error text-center">
                No deberías estar aquí. La página que intentas acceder no existe </h2>
        </div>
    </div>
    <button type="submit" name="submit" class="btn btn-primary  rounded mx-auto d-block">
        Regresar al inicio
        <i class="fas fa-user-md fa-5x"></i>
    </button>

</div>