<div class="boxShadow">
    <form action="/doctor/citas/{{id}}/prescripcion/new" method="post">
        <div>
            <label for="">
                Prescription:
                <input type="text" name="prescription">
            </label>
        </div>

        <div>
            <label for="">
                Notes:
                <input type="text" name="notes">
            </label>
        </div>

        <button type="submit">New</button>
    </form>
</div>
