
body{

    font-family: 'Roboto', sans-serif;
    color: #3BD0AB;
    font-weight: 600 !important;
    font-size: 1rem;
}

.tit-txt-expediente{
    color: #202123;
    font-size: 5rem;
    font-family: 'Indie Flower', cursive;
}

.titulo{
    font-size: 70px;
    text-align:center;
    font-family: 'Noto Sans', sans-serif;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-shadow: 1px 1px 1px #202123;

}

.txtNavbar{
    color: #3BD0AB !important;;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600 !important;
    /*text-shadow: 1px 1px 1px #7c7f87;*/
}


.txTitCaro{
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    font-weight: 600 !important;
    text-shadow: 1px 1px 1px #202123;
}

.column {
    max-width: 450px;
}

.activa{
    color: white !important;
    background-color: #3BD0AB;
    transform: translateY(-5px);
    text-decoration: none;
    border-bottom: 0px solid blue;
    border-bottom-color: lightgreen;
    transition: .25s ease-in;

}

.txparGris{
    background-color: #3BD0AB;
    color: white;
    text-align: justify;
    font-size: 1rem;

}
.textfaq{
    text-align: right !important;
    text-decoration: none;
    color: white !important;
    font-size: 1.1rem;
}
.titfaq{
    text-align: left;
    color: white;
    font-size: 2.5rem;
}

.boxShadow{
    background-color: white;
    border: 2px solid #eee;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #eee;
}

.hide{
  display: none;
}

.background-calendar{
    background-image: url('https://res.cloudinary.com/consultame/image/upload/v1541826645/img/fondos/calendars.png');
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    position: relative;
}

.background-calendar:before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(59, 208, 171, 0.5);
    top: 0;
    left: 0 ;
}

.nav-tabs .active{
    color: white !important;
    background-color: #07e58b !important;
}

.nav-link{
    color: white;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.carousel-inner{
    height: 400px;
}

.txt-verde{
    color: #3BD0AB;
}
.txt-whiSha{
    background-color: gray;
    color: #fff;
}

.bg-verde{
    background-color: #3BD0AB;
}


.expediente{

    background-image: url('https://res.cloudinary.com/consultame/image/upload/v1541840255/img/fondos/hoja_raya.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    position: relative;

}

.tit-pag-error{
    text-align: center;
    color: #fff;
    font-size: 8rem;
}
.text-pag-error{
    color: #fff;
    font-size: 3rem;
}


.imgerror{

    background-image: url('https://res.cloudinary.com/consultame/image/upload/v1541839597/img/fondos/paciente.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    position: relative;

}
.imgerror:before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(59, 208, 171, 0.5);
    top: 0;
    left: 0 ;
}